:root {
  --background: #fff;
  --text-color: #000;
  --gold-accent: #fb0;
  --light-accent: #DDDDDD;
  --dark-accent: #3C3C3C;

}


body {
  background: var(--background);
  color: white;
  font-family: var(--proxima-nova), sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: var(--kandal-book);
}
h2 {
  font-size: 40px;
  font-weight: 600;
}
h3 {
  font-family: var(--kandal-book);
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 5px;
}
p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.header-nav {
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}


