:root {
  --background: #fff;
  --text-color: #000;
  --accent: #fb0;
}


body {
  background: var(--background);
  color: var(--text-color);
  margin: 0;
}

.header-nav {
  height: 100px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
