.profile-container {
  margin-top: 100px;
  position: relative;

}

.profile-section {
  display: flex;
  justify-content: center;
}

.profile-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
}

.profile-left {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  box-shadow: 13px 22px 28px 0 rgba(0,0,0,.33);
  background-color: var(--dark-accent);
  padding: 10 10px;
}

.profile-left img {
  width: auto;
  height: 250px;
  border: 2px solid var(--gold-accent);
}

.profile-right {
  background-color: var(--gold-accent);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
  height: 600px;
  max-width: 450px;
  clip-path: polygon(30% 0%, 94% 0, 100% 6%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 0);
}

.profile-right-container {
  display: inline-block;
  box-shadow: -13px 22px 20px rgba(0,0,0,.33);
}

.profile-info {
  padding: 40px 15px;
  height: 100%;
  border: 5px solid var(--dark-accent)
}

.profile-info h3 {
  margin: 0px 0px 10px 0px;
}

.profile-info p {
  margin: 0px 0px 25px 10px;
  color: var(--dark-accent);
}

.info-title {
  color: var(--text-color);
  display: inline-block;
}

.info-title::after {
  content: "";
  display: block;
  width: 100%;
  border-top: 2px solid white;
}

.btn {
  position: absolute;
  border: none;
  padding: 10px 20px; 
  align-self: center;
  background-color: #fb0;
  font-size: 20px;
  font-weight: 700;
  color: black;
  bottom: 10px;
  left: 50px;
  margin-bottom: 20px;
  box-shadow: 13px 10px 15px 0 rgba(0,0,0,.33);
  transition: all 0.15s ease-in-out;
}

.btn:hover {
  background-color: black;
  color: var(--gold-accent)
}

.bg-img {
  position: absolute;
  z-index: -1;
  bottom: -130px;
}


@media screen and (max-width:800px) {
  .profile-section {
    margin-top: 50px;
  }

  .profile-box {
    gap: 20px;
    flex-direction: column;
  }

  .profile-left {
    margin-left: auto;
    margin-right: auto;

  }

    .profile-right {
    box-shadow: none;

  }

  .profile-container {
    /* box-shadow: 13px 22px 28px 0 rgba(0,0,0,.33); */
  }

  .btn {
    position: unset;
  }
}