.profile-section {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  
}

.profile-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  /* padding: 10px 10px; */
  box-shadow: 13px 22px 28px 0 rgba(0,0,0,.33)
}

.info-title {
  color: #fb0;
}

.profile-left {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.profile-left img {
  width: auto;
  height: 250px;
}

.profile-right {
  background-color: black;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: auto;
  height: auto;
}

.btn {
  position: absolute;
  border: none;
  border-radius: 20px;
  padding: 10px 20px; 
  align-self: center;
  background-color: #fb0;
  font-weight: 700;
  color: black;
  bottom: 10px;
  left: 70px;
  margin-bottom: 20px;
}

@media screen and (max-width:750px) {
  .profile-section {
    margin-top: 50px;
  }

  .profile-box {
    gap: 20px;
    flex-direction: column;
  }

  .profile-left {
    margin-left: auto;
    margin-right: auto;

  }

  .btn {
    position: unset;
  }
}