.profile-container {
  position: relative;
  margin-top: 100px;
}

.profile-section {
  display: flex;
  justify-content: center;
}

.profile-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.info-title {
  color: var(--text-color);
}

.profile-info h3 {
  font-weight: 700;
}

.profile-left {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  /* align-self: flex-start; */
  box-shadow: 13px 22px 28px 0 rgba(0,0,0,.33);
  background-color: black;
  padding: 0 10px;
}

.profile-left img {
  margin-top: 10px;
  width: auto;
  height: 250px;
}

.profile-right {
  background-color: var(--gold-accent);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: auto;
  height: auto;
  max-width: 450px;
  box-shadow: 13px 22px 28px 0 rgba(0,0,0,.33)
}

.btn {
  position: absolute;
  border: none;
  border-radius: 20px;
  padding: 10px 20px; 
  align-self: center;
  background-color: #fb0;
  font-weight: 700;
  color: black;
  bottom: 10px;
  left: 70px;
  margin-bottom: 20px;
}

.bg-img {
  position: absolute;
}



@media screen and (max-width:750px) {
  .profile-section {
    margin-top: 50px;
  }

  .profile-box {
    gap: 20px;
    flex-direction: column;
  }

  .profile-left {
    margin-left: auto;
    margin-right: auto;

  }
    .profile-right {
    box-shadow: none;

  }

  .profile-container {
    box-shadow: 13px 22px 28px 0 rgba(0,0,0,.33)
  }

  .btn {
    position: unset;
  }
}